@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", "serif";
}
header {
  margin:0 auto;
  background-color: #649fed;
  color: #faebd7;
  text-align: right;
  padding:.5em;
}

hr {
  width: 75%;
  justify-content: right;
}

nav {
  display: block;
  margin: 0 auto;
  text-align: right;
  padding: 0;
  background-color: #649fed;
}
nav a {
  color: #faebd7;
}
a:link {
  text-decoration: none;
  color: #6495ED;
}
a:active {
  color:#deb887
}
a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
}

nav a:link {
  color: #faebd7;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}
nav a:active {
  color: #deb887;
}

main {
  margin: 0 auto;
  background-color: #faebd7;
}


article {
  background-color: white;
  margin: 4rem;
  padding: 1.5rem;
}
article h2 a {
  color:black;
}
article h2 a:active {
  color: #deb887;
}
article h2 a:hover {
  color:#6495ED;
  text-decoration: underline;
}


article img {
  width: 100px;
}
