@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat&display=swap');
body {
font-family: 'Montserrat', sans-serif;
font-size: 18px;
line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Anton', sans-serif;
}
header {
  background-color: palevioletred;
}