@media only screen and (min-width:64em) {
  body{
    max-width:960px;
  }
  h1 {
    font-size:50px;
    margin-bottom: 3px;
  }
  
  .motto {
    font-size: x-large;
  }
	.logoimage {
		width: 65px;
	}

	main {
    width: 50em;
	}
	
	header {
    align-items: center;
    margin-bottom: 0;
  }

  footer {
		width: 52em;
  }
  nav ul.navlist {
    display: flex;
  }
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block; 
    flex: 1 1 100%;
  }
  .navigation li a {
    color: white;
    text-align: center;
  }
  
  .navigation li:first-child {
    display: none;
  } 
}
