
	@media only screen and (min-width:768px) {
		body {
			width:768px;
		}
		footer {
			width: 42em;
		}
	
		header img {
			width: 75%;
		}
	
		main {
			width: 40em;
		}
	
		nav ul.navlist {
			display: flex;
		}
		.navigation {
			display: flex;
		}
		.navigation li {
			display: block; 
			flex: 1 1 100%;
		}
		.navigation li a {
			color: white;
			text-align: center;
		}
		
		.navigation li:first-child {
			display: none;
		}
	}
	