@media screen and (min-width: 40em) {
  header {
    display: flex;
  }
  .navlist {
    display: flex;
  }
  .navlist li {
    display: block;
    flex: 1 1 100%;
  }
  .navlist li a {
    text-align: center;
  }
  .navlist li:first-child {
    display: none;
  }
  nav a.active {
    border-bottom: 3px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
  }
  nav a:hover {
    border-bottom: 3px solid white;
  }
  .card {
    text-align: center;
  }
  /*home page*/
  .herocontainer {

    margin: 10px auto;
    position: relative;
    width: 640px;
    padding-bottom: 15px;
  }
  /*River Guides*/
  
  .riverguide section {

  grid-template-columns: repeat(2, 1fr);
 
  }
  
  .riverguide img {
    width: 25rem;
    float:left;
    margin: 1rem;
    
  }
  .riverguide section img { 
    grid-row: 1 / 6;
   } 


form input.submitBtn {
  
  max-width: 30rem;
  margin-left: 15em;
}
}