header,
main,
footer {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  margin: 5px;
  margin-bottom: 0.7em;
  padding: 15px;
  color: #3c5a14;
  font-weight: bold;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 0;
}

main section {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat (1, 1fr);
}
.cards section {
  margin: 0.25rem;
  padding: 0.7rem;
  background-image: linear-gradient(to bottom right, #3c5a14, #659b5e, #8fd694);
  color: white;
  white-space: nowrap;
  box-shadow: 3px 3px 5px 10px lightgray;
}

.cards section img {
  width: 100%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
}

footer {
  margin-top: 1.5rem;
  background-color: #eee;
  border: 1px solid #ccc;
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 32em and max-width: 40em) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 64em) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
