@media screen and (min-width: 64em) {
  .navlist li:first-child {
    display: none;
  }
  .herocontainer {
    margin: 10px auto;
    position: relative;
    width: 930px;
    height: 450px;
  }

  .herocontainer img {
    width: 100%;
    height: 450px;
  }
  .weathersummary {
    top: 40px;
    left: 40px;
  }
  .prestonmap {
    width: 425px;
  }
 
  .social img {
    width:30px;
  }
  
  footer {
    width:52em;
    margin: 0 auto;
    padding: 1rem;
  }
}
