@media screen and (min-width: 64em) {
  .herocontainer {
    margin: 10px auto;
    position: relative;
    width: 930px;
    height: 450px;
  }

  .herocontainer img {
    width: 100%;
    height: 450px;
  }
  .prestonmap {
    width: 425px;
  }
  footer {
    padding: 1rem;
  }
}
